{% extends 'layout.html' %}
{% load static %}

{% block sub_header %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "assets/img/homecover.png" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Roberto Duarte Junior Website</h1>
                    <span class="subheading">Desenvolvedor Full-Stack Python</span>
                    
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <section id="mainsection">
            {% for mt in common_tags %}
            </section>
            <a class="post-meta" href="{% url 'tagged' mt.slug  %}"> #{{mt}}</a>
                    {% endfor %}
            
            {% for project in projects %}
            <div class="post-preview">
                <a href="/project/{{project.slug}}">
                    <h2 class="post-title">{{project.title}}</h2>
                    <h3 class="post-subtitle">{{project.summary|safe}}</h3>
                </a>
                <p class="post-meta">
                    Realizaddo por
                    <a href="about.html">Roberto Duarte</a>
                    {{project.created_at|date:'d, M Y'}}
                </p>
                {% for tag in project.tags.all %}
                    <a class="post-meta" href="{% url 'tagged' tag.slug  %}"> #{{tag}}</a>
                    {%endfor%}
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            {% endfor %}

            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            {% if hide%}
            <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'all'  %}">Todos Projetos ↓</a></div>
            {% else %}
            <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'home'  %}">Projetos Recentes ↑</a></div>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}