{% extends 'layout.html' %}
{% load static %}

{% block sub_header %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ project.cover.url }}')" >
 <!--   <img src="{{ img.img.url }}" width="120"/>  -->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">  
                        <div class="post-heading">
                            <h1>{{project.title}}
                            </h1>
                            <h2 class="subheading">{{project.summary|safe}}</h2>
                            <span class="meta">
                                Realizaddo por
                                <a href="about.html">Roberto Duarte
                                </a>
                                {{project.created_at|date:'d, M Y'}}
                                            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block content %}

<article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="subheading">Descrição</h2>
                        <p>{{project.content|safe}}</p>
                        <h2 class="subheading">Aprendizados</h2>
                        <p>{{project.learning|safe}}</p>

                        
                        <p>{{project.programming_languages|safe}}</p>
                        
                        <div class="post-preview">
                        <a class="post-meta" href="/project/{{project.pk}}">
                            <b>➔ Repositório GitHub</b>
                        </a>
                        <br>
                        <a class="post-meta" href="/project/{{project.pk}}">
                             <b>➔ Deploy</b>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}