{% extends 'layout.html' %}
{% load static %}

{% block sub_header %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ project.cover.url }}')" >
 <!--   <img src="{{ img.img.url }}" width="120"/>  -->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">  
                        <div class="post-heading">
                            <h1>{{project.title}}
                            </h1>
                            <h2 class="subheading">{{project.summary|safe}}</h2>
                            <span class="meta">
                                Realizaddo por
                                <a href="about.html">Roberto Duarte
                                </a>
                                {{project.created_at|date:'d, M Y'}}
                                            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block content %}


<article class="mb-4">
            <div class="container px-4 px-lg-5" id="Project">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
        
                        <section id="visitorposts">
                        <div id="posts-box"></div>
                        <div id="loading-box-posts">
                        <div class="d-flex justify-content-center mb-4"><button onclick="ShowMorePosts()" id="load-btn-posts"
                            class="btn btn-primary text-uppercase">Mostrar mais</button></div>
                        </div>
        
                            <div class="d-flex justify-content-center">
                                <div id="spinner-box-posts" class="not-visible">
                                    <div class="spinner-border text-info" role="status">
                                    </div>
                                </div>
                            </div>
        
                    </section>
                </div>
            </div>
        
        </div>
        <input type="hidden" id="mySlug" name="variable" value="{{ project.slug }}">

        {% include 'postform.html' %}
{% endblock %}
